@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 99%;
    --foreground: 163 33% 16%;

    --card: 0 0% 100%;
    --card-foreground: 163 33% 16%;

    --popover: 0 0% 100%;
    --popover-foreground: 163 33% 16%;

    --primary: 152 18% 62%;
    --primary-foreground: 0 0% 100%;

    --secondary: 28 38% 93%;
    --secondary-foreground: 163 33% 16%;

    --muted: 30 20% 95%;
    --muted-foreground: 163 10% 45%;

    --accent: 163 33% 18%;
    --accent-foreground: 0 0% 100%;

    --highlight: 37 26% 81%;
    --highlight-foreground: 163 33% 16%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 30 20% 90%;
    --input: 30 20% 90%;
    --ring: 152 18% 62%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 152 18% 62%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 28 38% 93%;
    --sidebar-accent-foreground: 163 33% 16%;
    --sidebar-border: 30 20% 90%;
    --sidebar-ring: 152 18% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-body antialiased;
  }

  h1, h2, h3, h4 {
    @apply font-display;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
